<head>
    <title>TechGearX</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>
    <style>
        body {
        font-family: "Anton";
        background: linear-gradient(#3B60FF, black);
        margin: 5vh 10vh 0 10vh;
        }

    </style>
</head>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            <img src="{% static 'logogearX.png' %}" width="150vh">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <form class="d-flex">
                <a class="nav-link text-white active pe-2" aria-current="page" href="/home">HOME</a>
                <a class="nav-link text-white me-2" href="/shop"><u>SHOP</u></a>
                <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search">
                <a href="/cart"><img src="{% static 'cart.svg' %}" width="25vh" class="me-2"></a>
                <a href="/profile"><img src="{% static 'person.svg' %}" width="30vh"></a>
            </form>
        </div>
    </div>
</nav>
<div class="container w-50 bg-black p-5">
    <h1 class="text-white">NEW PRODUCT</h1>
    <form method="post" enctype="multipart/form-data" class="text-white text-uppercase">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary w-100 mt-3">ADD PRODUCT</button>
    </form>
</div>