<head>
    <title>TechGearX</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    {% load widget_tweaks %}
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>
    <style>
        body {
        font-family: "Anton";
        background: linear-gradient(#3B60FF, black);
        }


    </style>
</head>
{% block content %}
<div class="row h-100 m-0">
    <div class="col my-auto">
        <div class="text-center">
            <img src="{% static 'logogearX.png' %}" class="w-25 p-3">
        </div>
        <div class="container w-25 h-5" style="background: linear-gradient(transparent, black);">
            <div class="content-section text-white">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group pt-3">
                        <!--                        {{ form }}-->
                        {% for field in form %}
                        <div class="form-group pb-3">
                            {{ field.errors }}
                            {% render_field field class+="form-control" placeholder=field.label %}
                        </div>
                        {% endfor %}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary w-100" type="submit">Register</button>
                    </div>
                </form>
                <div class="border-top pt-3 text-center">
                    <small class="text-muted">
                        Already Have An Account? <a class="ml-2" href="/login">Log In</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}